<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DevRel Nexus</title>
        <link href="/styles.css" rel="stylesheet"/>
        <meta name="theme-color" content="#004AAD">
        <link rel="icon" type="image/png" href="/i/favicon.png">
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-658GN6HSEE"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'G-658GN6HSEE');
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                document.getElementById('menu').addEventListener('click', function () {
                    document.querySelector('ul.nav').classList.toggle('show');
                });
            });
        </script>
    </head>
    <body>
        <div id="page">
            <header>
                <a href="/" style="line-height:0">
                    <img src="/i/devrel-nexus.png" height="48">
                </a>

                <ul class="nav nomobile">
                    <li>
                        <a href="/people">People</a>
                    </li>
                    <li>
                        <a href="/processes">Processes</a>
                    </li>
                    <li>
                        <a href="/artifacts">Artifacts</a>
                    </li>
                    <li>
                        <a href="/outcomes">Outcomes</a>
                    </li>
                </ul>
                <div class="mobile" id="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="32" height="32"><title>menu</title><path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" /></svg>
                </div>
            </header>
            <div id="content">
                {{ content | safe }}
            </div>
            <div id="footer">
                &copy; 2023 DevRel Nexus <a href="/privacy">Privacy</a>
            </div>
        </div>
    </html>