<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DevRel Nexus</title>
        <link href="/styles.css" rel="stylesheet"/>
        <meta name="theme-color" content="#004AAD">
        <link rel="icon" type="image/png" href="/i/favicon.png">
    </head>
    <body>
        <div id="page">
            <header>
                <a href="/">
                    <img src="/i/devrel-nexus.png" height="48">
                </a>

                <ul class="nav">
                    <li>
                        <a href="/people">People</a>
                    </li>
                    <li>
                        <a href="/processes">Processes</a>
                    </li>
                    <li>
                        <a href="/artifacts">Artifacts</a>
                    </li>
                    <li>
                        <a href="/outcomes">Outcomes</a>
                    </li>
                </ul>
            </header>
            <div id="content">
            {{ content | safe }}
            </div>
            <div id="footer">
                &copy; 2023 DevRel Nexus
            </div>
        </div>
    </html>