<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DevRel Nexus</title>
        <link href="/styles.css" rel="stylesheet"/>
        <meta name="theme-color" content="#004AAD">
        <link rel="icon" type="image/png" href="/i/favicon.png">
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-658GN6HSEE"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'G-658GN6HSEE');
        </script>
    </head>
    <body>
        <div id="page">
            <header>
                <a href="/">
                    <img src="/i/devrel-nexus.png" height="48">
                </a>

                <ul class="nav">
                    <li>
                        <a href="/people">People</a>
                    </li>
                    <li>
                        <a href="/processes">Processes</a>
                    </li>
                    <li>
                        <a href="/artifacts">Artifacts</a>
                    </li>
                    <li>
                        <a href="/outcomes">Outcomes</a>
                    </li>
                </ul>
            </header>
            <div id="content">
                {{ content | safe }}
            </div>
            <div id="footer">
                &copy; 2023 DevRel Nexus
            </div>
        </div>
    </html>