@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(17, 17, 17);
  color: white;
  font-size: 1.2rem;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
}
#page {
  margin: 0px auto;
  justify-content: center;
  height: 100vh;
  max-width: 900px;
  padding: 16px;
}

p {
  margin: 0 0 16px;
}
header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(64, 64, 64);
  padding-bottom: 16px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 32px;
  font-weight: 800;
}

h2,
h3,
h4,
h5 {
  margin-top: 64px;
}
a:link.header-anchor,
a:visited.header-anchor {
  color: white;
}

ul.nav {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-around;
  font-weight: 800;
}
a:visited {
  color: #5090d0;
  text-decoration: none;
}
a:link {
  color: #5090d0;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#content {
  min-height: 80vh;
  padding: 16px 0;
}
#footer {
  text-align: center;
  border-top: 1px solid rgb(64, 64, 64);
  padding: 32px 0;
  display: flex;
  justify-content: space-around;
  margin-top: 64px;
}

/* Fix numbered list offset */
ul,
ol {
  list-style-position: inside;
  line-height: 42px;
}
#content ul,
#content ol {
  margin-bottom: 32px;
}
li > ul,
li > ol {
  margin-left: 32px;
}

.mobile {
  display: none;
}

hr {
  margin: 32px;
}

.card {
    background-color: rgb(32, 32, 32);
    padding: 8px 32px;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 6px;
}
.card h2, .card h3 {
    margin-top: 16px;

}

/* Mobile styles */
@media (max-width: 650px) {
  #page {
    padding: 8px;
  }
  .mobile {
    display: block;
  }
  .nomobile {
    display: none;
  }
  #menu {
    flex-grow: 1;
    justify-content: right;
    display: flex;
  }
  ul.nav {
    display: none;
  }
  ul.nav.show {
    position: absolute;
    display: block;
    background-color: rgb(32, 32, 32);
    top: 64px;
    left: 8px;
    width: calc(100% - 16px);
    padding: 32px;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 6px;
  }
}
